:root {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#container {
  display: grid;
  height: 100%;
  grid-template: 200px 1fr / min(300px, 25%) 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar dashboard";
}

#dashboard {
  grid-area: dashboard;

  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 300px;
  grid-template-areas:
    "projects announcements"
    "projects trending";

  background-color: #e2e8f0;
}

#dashboard #projects {
  grid-area: projects;

  display: grid;
  grid-template: 50px 1fr / 1fr;
}

#dashboard #projects #projects-header {
  display: flex;
  align-items: center;

  padding: 0 24px;
  font-size: 24px;
}

#dashboard #projects #projects-table {
  display: grid;
  grid-template: 184px / repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 184px;
  gap: 16px;
  place-items: center center;

  padding: 0 24px 0;
}

.project {
  display: grid;
  grid-template: 1fr 3fr 1fr / 1fr;

  height: 160px;
  padding: 10px 20px 10px 30px;
  border: 2px solid gray;
  border-radius: 10px;

  background: linear-gradient(90deg, rgb(255, 217, 0) 10px, white 10px);
  font-size: 16px;
}

.project h2 {
  align-self: center;
}

.project .project-options {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
}

.project .project-options .project-button img {
  filter: brightness(0) saturate(100%) invert(20%);
}

#dashboard #announcements {
  grid-area: announcements;
}

#dashboard #trending {
  grid-area: trending;
}

#header {
  grid-area: header;

  display: grid;
  grid-template-rows: repeat(2, 1fr);

  box-shadow: 0px 3px 10px 1px gray;
}

.header-row.first,
.header-row.last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.header-row.first #search {
  display: flex;
  gap: 20px;
}

.header-row.first #search #search-bar {
  width: 60vh;
  height: 40px;

  background-color: #e2e8f0;
  border-radius: 20px;
}

.header-row.first #profile {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-row.first #profile #profile-name {
  font-size: 24px;
  font-weight: 800;
}

.header-row.first #profile .profile-picture,
#profile .profile-picture img {
  width: 50px;
  height: 50px;
}

.header-row.last #greetings {
  display: grid;
  grid-template: 1fr 1fr / 70px auto;
  column-gap: 20px;
  grid-template-areas:
    "picture text"
    "picture name";
  align-items: center;

  font-weight: 800;
}

.header-row.last #greetings .profile-picture {
  grid-area: picture;
  place-self: center;
}

.header-row.last #greetings #greetings-text {
  grid-area: text;
}

.header-row.last #greetings #greetings-name {
  grid-area: name;

  font-size: 24px;
}

.header-row.last #greetings .profile-picture,
#greetings .profile-picture img {
  width: 70px;
  height: 70px;
}

.header-row.last #nav {
  display: flex;
  gap: 30px;
}

.header-row.last #nav button {
  width: 100px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 20px;

  background-color: #1992d4;
  color: white;

  font-size: 16px;
  font-weight: 600;
}

#sidebar {
  grid-area: sidebar;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px;
  grid-auto-rows: 1fr;
  gap: 30px;

  background-color: #1992d4;
  color: white;

  padding: 20px;
}

#sidebar .menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#sidebar #logo,
#sidebar .menu .option {
  display: flex;
  align-items: center;
  gap: 12px;
}

#sidebar #logo img,
#sidebar .menu .option img {
  /* Set the color to white */
  filter: brightness(0) saturate(100%) invert(100%);
}

#sidebar #logo p,
#sidebar .menu .option p {
  display: flex;
  align-items: center;
}

#sidebar #logo {
  font-size: 32px;
  font-weight: 600;
}

#sidebar #logo img {
  height: 60px;
  width: 60px;
}

#sidebar .menu .option {
  height: 40px;
}

#sidebar .menu .option p {
  font-size: 20px;
  font-weight: 600;
}

#sidebar .menu.last {
  justify-content: end;
}

.profile-picture,
.profile-picture img {
  border-radius: 50%;
}

button {
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: white;
  margin: 0;
  padding: 0;
}

img {
  height: 30px;
  width: 30px;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
